body {
  overflow-y: hidden;
  overflow-x: hidden;
  background-image: url('pw_maze_black.png');
  margin: 0;
}
.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  box-shadow: 0 0 30px black;
  background: #fff;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

}
.sidebar-middle {
  position: absolute;
  width: 90%;
  display: block;
}

.playing-field {
  position: absolute;
  width: 40%;
  height: 30%;
  top: 52%;
  left: 50%;
  /* bring your own prefixes */

  transform: translate(-50%, -50%);
}


.user {
  position: absolute;
  top: 70%;
  left: 0;
  width: 100%;
  height: 30%;
}
.user-cards {
  position: absolute;
  left: 20%;
}

.trump-card {
  position: absolute;
  left: 81%;
  height: 92%;
  width: 15%;
}
.player-1 {
  position: absolute;
  top: 50%;
  left: 10%;
  width: 10%;
  height: 20%;
  transform: translate(-50%, -50%);
  box-shadow: 1px 1px 1px #888888;
}
.player-2 {
  position: absolute;
  top: 18%;
  left: 20%;
  width: 10%;
  height: 20%;
  transform: translate(-50%, -50%);
}
.player-3 {
  position: absolute;
  top: 18%;
  left: 50%;
  width: 10%;
  height: 20%;
  transform: translate(-50%, -50%);
}
.player-4 {
  position: absolute;
  top: 18%;
  left: 80%;
  width: 10%;
  height: 20%;
  transform: translate(-50%, -50%);
}
.player-5 {
  position: absolute;
  top: 50%;
  left: 90%;
  width: 10%;
  height: 20%;
  transform: translate(-50%, -50%);
}
